<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1434;databaseName=fruitsshop;encrypt=false;trustServerCertificate=true</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">admin</property>

        <!-- Діалект для MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Налаштування логування SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Вказати, які моделі використовувати -->
        <mapping class="ua.edunung.se.entity.User"/>
        <mapping class="ua.edunung.se.entity.Fruit"/>
        <mapping class="ua.edunung.se.entity.Country"/>
        <mapping class="ua.edunung.se.entity.Street"/>
    </session-factory>
</hibernate-configuration>
